.content {
  margin: $nav-bar-height auto;
  padding: 20px;
  width: $content-width;
}

.tech-list {
  display: grid;
  grid-gap: 10px;	
  grid-template-columns: repeat(3, $tech-list-cell-width); 
  grid-template-rows: repeat(2, $tech-list-cell-height); 
  justify-content: center;
}
