$font-stack: 'Roboto', sans-serif;

$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;

$mobile-text-big: calc(2 * #{$text-big});
$mobile-text-medium: calc(2 * #{$text-medium});
$mobile-text-small: calc(2 * #{$text-small});
