%footer-text {
  font-family: $font-stack;
  color: white;
}

.footer {
  position: relative;
  bottom:0;
  width:100%;
  height: $footer-height;
  background: $cerulean;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.footer .punch-line {
  @extend %footer-text;
  font-size: $text-medium;
  line-height: $text-medium;
  margin-bottom: 15px;
}

.footer .footer-logo {
  height: $footer-logo-height;
}

.footer .footer-copy-right {
  @extend %footer-text;
  font-size: $text-small;
  line-height: $text-small;
  align-self: flex-end;
}
