$nav-bar-height: 90px;
$nav-bar-logo-height: 30px;

$title-decoration-height: 90px;
$title-decoration-width: 70px;

$tech-list-cell-height: 350px;
$tech-list-cell-width: 250px;

$tech-logo-size: 100px;

$content-width: 1200px;

$footer-logo-height: 50px;
