$nav-bar-height: 90px;
$nav-bar-logo-height: 30px;

$title-decoration-height: 90px;
$title-decoration-width: 70px;

$tech-card-box-min-height: 350px;
$tech-card-box-width: 250px;
$tech-card-border-radius: 5px;
$tech-card-box-overlap: 10px;

$tech-logo-size: 100px;

$display-layout-max-width: 1300px;

$footer-height: 150px;
$footer-logo-height: 50px;
