%tech-card-item {
  text-align: center;
  margin: auto;
  font-family: $font-stack;
}

.tech-card {
  border-radius: 10px;
  background: $green;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;

}

.tech-card-image {
  @extend %tech-card-item; 
  width: 100px;  
  height: 100px; 
}

.tech-card-title {
  @extend %tech-card-item; 
}

.tech-card-release {
  @extend %tech-card-item; 
}

.tech-card-description {
  @extend %tech-card-item; 
}
