%tech-card-item {
  color: $mine-shaft;
  font-family: $font-stack;
  font-size: $text-medium;
  text-align: center;
}

.tech-card:first-child {
  grid-column: 1;
  grid-row: 1 / 3;
  border-right: 2px solid $earls-green; 
}

.tech-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  position: relative;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}

.tech-card-image {
  @extend %tech-card-item; 
  height: $tech-logo-size;
  width: $tech-logo-size;
  margin-bottom: 20px;
}

.tech-card-title {
  @extend %tech-card-item;
  margin-bottom: 15px;
}

.tech-card-release {
  @extend %tech-card-item; 
  font-weight: bold;
  margin-bottom: 15px;
}

.tech-card-description {
  @extend %tech-card-item;
}

@media only screen and (max-width: 1024px) {
  .tech-card:first-child {
    border-right: initial; 
    grid-column: initial;
    grid-row: initial;
  }
  
  .tech-card:not(:last-child) {
    border-bottom: 2px solid $earls-green;
  }
}
