%tech-card-item {
  color: $mine-shaft;
  font-family: $font-stack;
  font-size: $text-medium;
  text-align: center;
}

.grid-flex-display .tech-card {
  margin: 30px 20px;
}

.tech-card::before {
  border: 1px solid $earls-green;
  border-radius: $tech-card-border-radius;
  content: '';
  height: 100%;
  left: -$tech-card-box-overlap;
  position: absolute;
  top: -$tech-card-box-overlap;
  width: 100%;
  z-index: -1;
}

.tech-card {
  align-items: center;
  background: $earls-green;
  border-radius: $tech-card-border-radius;
  display: flex;
  flex-direction: column;
  left: $tech-card-box-overlap;
  min-height: $tech-card-box-min-height; 
  padding: 10px 20px;
  position: relative;
  top: $tech-card-box-overlap;
  width: $tech-card-box-width;
}

.tech-card-image {
  @extend %tech-card-item; 
  height: $tech-logo-size;
  width: $tech-logo-size;
  margin-bottom: 20px;
}

.tech-card-title {
  @extend %tech-card-item;
  margin-bottom: 15px;
}

.tech-card-release {
  @extend %tech-card-item; 
  font-weight: bold;
  margin-bottom: 15px;
}

.tech-card-description {
  @extend %tech-card-item;
}
